#info {
    position: absolute;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #6d1b22;     
}
#pos{    
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #82ff2f; 
}